language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
install:
  - pip install flake8
  - pip install tornado
  # Deal with issue on Travis builders re: multiprocessing.Queue :(
  - "sudo rm -rf /dev/shm && sudo ln -s /run/shm /dev/shm"

script: make test